@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 24, 59, 78;
  --background-start-rgb: 245, 238, 220;
  --background-end-rgb: 245, 238, 220;
  --primary-color: 39, 84, 138;
  --secondary-color: 221, 168, 83;
  --accent-color: 24, 59, 78;
} 